.repositoryCard {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: aqua;
}
.repositoryCard__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
}
.title__name {
  color: blue;
}
.star {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.star__number {
  margin-right: 10px;
}
.star__img {
  width: 20px;
  height: 20px;
}
