.repositoriesList {
  list-style:  none;
  padding: 0; 
  display: flex; 
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;  
}
.repositoriesList li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;
}
.repositoriesList li:nth-child(10n){
   align-self: center;
  flex-grow: 0;
}

