.header {
  display: flex;
  flex-direction: row;
  align-items: center;  
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  background-color: rgb(58, 76, 179);
}

.header__wrapperLogoAndTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapperLogoAndTitle__img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.wrapperInput__textField {
  border: 1px, groove;
  border-radius: 5px;
  margin-left: 10px;
}
.header__title {
margin-left: auto;
margin-right: auto;
}