.cardRepository {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.cardRepository__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}
.title__name {
  color: blue;
}
.title__access {
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(163, 161, 161);
  border-radius: 10px;
}
.cardRepository__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}
.subtitle__type {
  border-bottom-style: solid;
  border-color: rgb(209, 209, 6);
}
